#find herbie/ -size +50M -exec ls {} \+ > .gitignore
herbie/converge/seaSaveEasomMed.RData
herbie/converge/seaSaveRastEasy.RData
herbie/converge/seaSaveRastHard2.RData
herbie/converge/seaSaveRastHard.RData
herbie/converge/seaSaveRoseEasyEasy.RData
herbie/falsePos/rank10/trace_XX_1.out
herbie/falsePos/rank13/trace_XX_1.out
herbie/falsePos/rank14/trace_XX_1.out
herbie/falsePos/rank18/trace_XX_1.out
herbie/falsePos/rank19/trace_XX_1.out
herbie/falsePos/rank21/trace_XX_1.out
herbie/falsePos/rank9/trace_XX_1.out
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock240000.RData
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock2.RData
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock640000.RData
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock6Three20000.RData
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock6Two20000.RData
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock6Two40000.RData
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_XX_1.out
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_ZZ_1.out
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_ZZkm_1.out
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_ZZks2_1.out
herbie/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace.zip
herbie/optimTests/optOut.zip
herbie/optimTests/roseGuesses.pdf
herbie/writting/publish/codes/converge/seaSaveEasomMed.RData
herbie/writting/publish/codes/converge/seaSaveRastEasy.RData
herbie/writting/publish/codes/converge/seaSaveRastHard2.RData
herbie/writting/publish/codes/converge/seaSaveRastHard.RData
herbie/writting/publish/codes/converge/seaSaveRoseEasyEasy.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock240000.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock2.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock640000.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock6Three20000.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock6Two20000.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/seaSaveLock6Two40000.RData
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_ZZ_1.out
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_ZZkm_1.out
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace/trace_ZZks2_1.out
herbie/writting/publish/codes/lockwood/aim_optimization/Lockwood/BASIC/chordataWorkspace.zip
